In [1]:
import pyodbc
import pandas as pd

In [ ]:
atlas_query = """
    SELECT 
    rpt.UCLABioBankMap_V2.Bank_sample_id,
    rpt.DIM_PatientDim.Sex
    FROM
        INNER JOIN rpt.UCLABioBankMap_V2
        ON rpt.UCLABioBankMap_V2.PatientID=rpt.DIM_PatientDim.PatientID
"""

atlas_df = pd.read_sql(atlas_query, conn)

atas_df.head()